*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outerbox{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
}
.innerbox{
    width: 60vw;
    height: 60vh;
    background-color: grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}